.game-container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(9, 80px);
    gap: .5rem;
    justify-content: center;
    padding-top: 1rem;
}

#game-title {
    grid-column-start: 5;
    grid-column-end: span 4;
    grid-row-start: 1;
    text-align: center;
    font-size: 1.75rem;
}

#game-messages {
    grid-column-start: 5;
    grid-column-end: span 4;
    grid-row-start: 2;
    text-align: center;

}

.card {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 0.75rem
}

.discard-pile {
    grid-column-start: 6;
    grid-row-start: 4;
}

.draw-pile {
    grid-column-start: 7;
    grid-row-start: 4;
    cursor: pointer;
}

.stf-container {
    grid-column-start: 6;
    grid-row-start: 5;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(1, 80px);
    gap: .5rem;
}

#stf-0 {
    grid-column-start: 1;
    grid-row-start: 1;
}
#stf-1 {
    grid-column-start: 2;
    grid-row-start: 1;
}
#stf-2 {
    grid-column-start: 3;
    grid-row-start: 1;
}
.player-one-column {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(9, 80px);
    gap: .5rem;
}
.player-two-column {
    grid-column-start: 9;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(9, 80px);
    gap: .5rem;
}

#p1::after {
    background-color:rgba(255, 120, 30, 0.3)
}
/* .player-two-column h3 {
    text-align:right;
}

h3 {
    grid-column-end: span 4;
} */

.player-hand {
    background-color: rgb(255, 121, 30, 0.9);;
    text-align: center;
    cursor: pointer;
}
.card:hover {
    background-color: rgba(255, 120, 30, 0.3);
}

.discarded {
    background-color: gray;
    position: absolute;

    width: 50px;
    height: 80px;
    grid-column: 6;
    grid-row: 4;
}
#play-button {
    height: 50%;
    grid-column-start: 6;
    grid-column-end: span 2;
    grid-row-start: 3;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 100, 0, 0.65);
}
#play-button:hover {
    background-color: rgb(255, 100, 0, 1);
}

